html {
    background: url(/static/images/body_background.png);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: repeat-x;
}

body {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    color: #333;
    font-size: 10pt;
    margin: 0;
    text-align: left;
}

div#header {
    background: url(/static/images/header_background.png);
    background-repeat: repeat-x;
    color: #fff;
    height: 150px;
}

img#tinman {
    margin: 0 10px;
    float: left;
}

a {
    color: #693;
}

div#content {
    color: #888;
    font-size: 18px;
    padding: 40px;
}

h1 { 
    color: #fff;
    padding: 120px 0 0 20px;
    font-size: 16px;
}

h2 {
    background: url(/static/images/okgo.png) no-repeat;
    color: #333;
    font-size: 36px;
    padding: 3px 0 20px 60px;
}

h3 {
    color: #666;
    font-size: 24px;
    padding: 20px 0 20px 30px;
}

ol {
    padding: 5px 20px 5px 50px;
}

ol li {
    list-style: decimal;
    list-style-position: outside;
    margin: 5px 0 5px 30px;
    padding-left: 10px;
}

ul {
    padding: 5px 20px 5px 50px;
}

ul li {
    list-style: disc;
    list-style-position: outside;
    margin: 5px 0 5px 30px;
    padding-left: 10px;
}

div#footer {
    bottom: 10px;
    left: 10px;
    color: #aaa;
    position: fixed;
}

a#tornado {
    border: 0;
    bottom: 10px;
    right: 10px;
    outline: none;
    position: fixed;
}